<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" xmlns:app="http://schemas.android.com/apk/res-auto"
          package="com.example.myapplication"
          android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.Camera"/>



    <application
            android:usesCleartextTraffic="true"
            android:name=".app.App"
            android:allowBackup="true"
            android:icon="@mipmap/icon_foreground"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_foreground"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication"
            >
        <activity android:name=".splash.SplashActivity"
                  android:theme="@style/MyTheme"
                  android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".login_register.MainActivity">
        </activity>



        <meta-data
                android:name="com.parse.SERVER_URL"
                android:value="@string/back4app_server_url" />
        <meta-data
                android:name="com.parse.APPLICATION_ID"
                android:value="@string/back4app_app_id" />
        <meta-data
                android:name="com.parse.CLIENT_KEY"
                android:value="@string/back4app_client_key" />

        <activity
                android:name=".login_register.JoinUsPage">
        </activity>
        <activity
                android:name=".login_register.Choose">
        </activity>
        <activity
                android:name=".home.HomePage"
                android:theme="@style/Theme.AppCompat.DayNight">
        </activity>
        <activity
                android:name=".login_register.LoginPage">
        </activity>
        <activity
                android:name=".settings.Setting"
                android:theme="@style/Theme.AppCompat.DayNight"
                android:label="@string/postavke">
        </activity>
        <activity
                android:name=".settings.EditProfile"
                android:theme="@style/Theme.AppCompat.DayNight"
                android:label="@string/urediProfil">
        </activity>

        <activity
                android:name=".user_profile.ProfileofUsers">
        </activity>




    </application>

</manifest>